BasedOnStyle: LLVM
UseTab: Never
IndentWidth: 4
TabWidth: 4
IndentCaseLabels: false
ColumnLimit: 100
AccessModifierOffset: -4
NamespaceIndentation: Inner
FixNamespaceComments: false
PointerAlignment: Left
AllowShortIfStatementsOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Inline
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterStruct: true
  AfterFunction: true
  AfterControlStatement: true
  BeforeElse: true
  AfterEnum: true
  AfterUnion: true
  AfterNamespace: true
  AfterExternBlock: true
  SplitEmptyFunction: false
  SplitEmptyRecord: false